<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="script.js"></script>
    <link rel='stylesheet' href='/app.css' />
</head>

<body>
    <div>
        <img src="https://image.freepik.com/free-vector/artistic-leaf-logo-design-agriculture-company_100735-16.jpg">
        <h2>LOGIN</h2>
        <form action="/login" method="POST" id="invia" autocomplete="off">
            <input type="email" id="email" name="email" placeholder="Username" autocomplete="false" <% if(locals.temp_email) { %> value="<%= temp_email %>" <% } %>>
            <% if(locals.err_msg_mail) { %>
                <h4 class="error" id="mail-err">
                    <%= err_msg_mail %>
                </h4>
                <% } %>
                    <input type="password" id="password" name="password" placeholder="Password" >
                    <% if(locals.err_msg_psw) { %>
                        <h4 class="error" id="psw-err">
                            <%= err_msg_psw %>
                        </h4>
                        <% } %>
                            <% if(locals.err_msg_campi) { %>
                                <h4 class="error" name='error_campi' id='campi-err'>
                                    <%= err_msg_campi %>
                                </h4>
                                <% } %>
                                    <button type="submit">Login</button>
        </form>
        <a href="/register">Register</a>
        <a href="/home">Home</a>
    </div>
</body>