

@font-face {
  font-family: Poppins-Bold;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); 
}



body::after {
	content: "";
	background-image: url("https://images.alphacoders.com/938/938875.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	opacity: 0.3;
	filter: grayscale(100%);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

div {
	margin: 30px auto;
	width: 500px;
	height: 620px;
	border-radius: 20px;
	background-image: linear-gradient( to bottom, rgb(85, 125, 245), rgb(173, 70, 224));
	padding: 20px;
	display: block;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.46);
}

div#register {
	height: 700px;
}

img {
	display: block;
	margin: 15px auto;
	width: 130px;
	height: 130px;
	border-radius: 80px;
}
h2 {
	font-family: sans-serif;
	text-align: center;
	font-size: 30px;
	
}

form {
	margin: 30px 0;
}
::placeholder {
color:white}

input[type=text] {
	font-family: sans-serif;
	font-size: 18px;
	display: block;
	width: 80%;
	padding: 12px 20px;
	margin: 45px auto;
	background: none;
	border: none;
	border-bottom: 3px solid #778899;
	box-sizing: border-box;
	outline: none;
	color:white;
	transition: border-bottom 0.8s ease-in-out;
  }

input[type=email] {
  font-family: sans-serif;
  font-size: 18px;
  display: block;
  width: 80%;
  padding: 12px 20px;
  margin: 45px auto;
  background: none;
  border: none;
  border-bottom: 3px solid #778899;
  box-sizing: border-box;
  outline: none;
  color:white;
  transition: border-bottom 0.8s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=password] {
	font-family: sans-serif;
	font-size: 18px;
  display: block;
  width: 80%;
  padding: 12px 20px;
  margin: 40px auto;
  background: none;
  border: none;
  border-bottom: 3px solid #778899;
  box-sizing: border-box;
  outline: none;
  color: white;
  transition: border-bottom 0.8s ease-in-out;
}
input:focus {
	border-bottom: 3px solid white;
}
input:focus::placeholder {
	color: transparent;
}

button[type=submit] {
  display: block;
  width: 130px;
  height: 50px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: white;
  color: #9932CC;
  padding: 14px 20px;
  text-align: center;
  margin: 60px auto;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}

button[type=submit]:hover {
  background-color: rgb(80, 140, 190);
  color: white;
}

.nav {
	background: none;
	list-style-type: none;
	text-align: center;
	margin:0;
	padding: 0;
}

.nav li {
	display: inline-block;
	
	padding: 40px;
	padding-top: 30px;
}

	

a {
	font-family: sans-serif;
	font-size: 14px;

}
a:link {
	color: white;
	text-decoration: none;
}

a:visited { 
  	text-decoration: none; color:white; 
}

h4.error {
	color: #ff7b25;
	position: absolute;
	margin-top: -40px;	
	margin-left: 70px;
	font-size: 22px;
	font-weight: 900;
}

input:invalid {
	border-bottom: 3px solid red;
}

@media screen and (max-width: 576px) {
	div {
	  max-width: 87%;
  }
  }
  
  @media screen and (max-device-width: 480px) {
	div {
	  max-width: 87%;
  }
  }